
# pdf that are too large
CSC2520/papers/2013_robust_inside_outside_segmentation_using_generalized_winding_numbers.pdf
CSC2520/papers/2015_realtime_face_tracking_and_animation.pdf
CSC2520/papers/2016_thingi10k_a_dataset_of_10000_3D_printinag_models.pdf
CSC2520/papers/2018_fast_winding_numbers_for_soups_and_clouds.pdf

# Files that are too large
STA302/apply_linear_model_kutner/apply_linear_model_kutner.pdf
MAT247/linear_algebra_friedberg_insel_spence_4ed.pdf

# dta files 
cifar-10-batches-py/*
mnist_all.mat
cifar-10-python.tar.gz

CSC321/tutorial/w6/data/*
CSC321/homework/pa2/data/*
CSC321/homework/pa4/samples_*
CSC321/homework/pa4/emojis/*
CSC321/homework/pa4/samples_vanilla/*
CSC321/homework/pa4/samples_cyclegan_pretrained/*
CSC321/homework/pa4/samples_cyclegan_cycle_pretrained/*
CSC321/homework/pa4/samples_cyclegan_cycle/*
CSC321/homework/pa4/samples_cyclegan/*
CSC321/homework/pa4/pretrained_cycle/*
CSC321/homework/pa4/emojis/*
CSC321/homework/pa3/checkpoints/*
CSC321/homework/pa4/emojis/*
CSC321/tutorial/w10/data/*
CSC321/homework/pa4/pretrained/*



# MacOS
# General
.DS_Store
.AppleDouble
.LSOverride

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json


# Vim 
# Swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]

# Temporaries
*~
tags


# Tex
ore latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2

## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*
# these rules might exclude image files for figures etc.
# *.ps
# *.eps
# *.pdf

## Generated if empty string is given at "Please type another file name for output:"
.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync


# C # Prerequisites *.d 
# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.confe.o
*.dSYM/
*.so



