body {
    background-image: url("/static/nice_snow.png"), url("/~tholden/nice_snow.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

a, a:hover {
    color: #0B0080;
}

.page-header {
    width: 86%;
    background-color: #e6e6e6;
    margin: 10px 0px 30px 30px;
    border-radius: 10px;
}

h1 a {
    padding-left: 20px;
}

h4 {
    margin-top: 20px;
    text-decoration: underline;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #000000;
    float: right;
    font-size: 12pt;
    margin-right: 20px;
    min-width: 150px;
}

.dropdown-menu li:hover {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display:block;
}

.button-div {
    position: absolute;
    width: 60%;
}

.button-div a, .button-div button {
    margin: 10px 0px 50px 0px;
    float: right;
    display:inline;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}

.form-table {
    margin-top: 40px;
    width: 100%;
}

ul li a.active, ul li a.active:hover, ul li a.active:focus {
    background-color: #1a75ff;
    border-radius: 15px;
    color: #e6f0ff;
}

.form-table td {
    padding-bottom: 10px;
}

.announcement {
    margin-top: 10px;
    box-shadow: 2px 2px 5px black;
}

.ann-title {
    position: relative;
}

.ann-title div h4 {
    padding-left: 10px;
}

.ann-title div small {
    position: absolute;
    top: 10px;
    float: right;
}

.posted {
    font-size:8pt;
    padding: 15px;
}

.ann-text {
    padding-left: 20px;
    padding-right: 20px;
}

.ann-text div p {
    text-align: justify;
}

.ann-author div p {
    text-align: right;
    color: grey;
    font-size: 10pt;
    padding-right: 10px;
}

.clearfix::after, .clearfix::before {
    content: "";
    display: block;
    height: 1px;
    clear: both;
    visibility: hidden;
}

.bot-pad {
    height:10px;
}

.fadehr {
     border: 0;
     border-bottom: 1px dashed #ccc;
     background: #999;
     margin: 5px 0 5px 0;
}

.ps-list ol { 
    font-family:Georgia, Times, serif; 
    font-size: 10pt; 
    color:black;  
}

.ps-list ol li { }

.ps-list ol li p { 
    padding:8px; 
    font-style:normal; 
    font-family:Arial; 
    font-size:13px; 
    color:black; 
    border-left: 1px solid #999; 
}

.ps-list-inner-left {
    font-size: 10pt;
    color: #a3c2c2;
}

.ps-list-inner-left a {
    font-size: 8pt;
}

.ps-list-inner-right {
    font-size: 10pt;
}

.ps-list-inner-right p {
    min-height: 50px;
    margin: 0;
    font-size: 10pt;
}

.ps-list-inner-right ol {
    font-size: 10pt;
}

.question-detail {
    margin: 20px 0 20px 0;
    padding: 10px;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    border-color: #a3c2c2;
}

.question-stats {
    text-align: center;
}

.question-stats p {
    padding: 0 30px 0 30px;
    display: inline-block;
}

.question-solution {
    width: 100%;
    height: 200px;
}

form button {
    float: right;
}

.student-solution{
    border-style: dashed;
    border-width: 1px;
    border-color: #b3d1ff;
    border-radius: 5px;
    min-height: 50px;
}

.student-solution p {
    padding: 10px;
}

.solution-form{
    margin-top: 40px;
}

#response {
    color: red;
}

.right {
    float: right;
}

#id_text {
    width: 100%;
}

.sticky {
    background-color: #ffe6e6;
}

.delete-form {
    display: inline;
}

.warning {
    padding: 10px;
    color: red;
}

small {
    font-size: 8pt;
}

.old-ann{
    margin: 10px 0 10px 0;
}

.old-ann{
    margin-left: 50px;
}

ul li a {
    font-weight: bold;
}

.sidenote p {
    padding: 5pt;
    margin: 10px 0;
    text-align: justify;
    font-size: 10pt;
    border-width: 1pt;
    border-style: solid;
    border-radius: 10px;
}

.pdf-holder {
    padding-top: 20px;
    position: relative;
    min-height: 80vh;
}

.typos {
    padding: 20px;
}

.pdf-holder object {
    position: absolute;
    padding-bottom: 30px;
}

.sidenote ul {
    padding: 5pt;
    text-align: justify;
    font-size: 10pt;
}

.tg {
    border-collapse:collapse;
    border-spacing:0;
    width: 80%;
}

.tg td{
    font-family:Arial, sans-serif;
    font-size:14px;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
    min-width:80px;
}

.tg th{
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    padding:10px 5px;
    border-style:solid;
    border-width:1px;
    overflow:hidden;
    word-break:normal;
}

.tg .tg-e3zv{
    font-weight:bold
}

.tg .tg-9hbo{
    font-weight:bold;
    vertical-align:top
}

.tg .tg-yw4l{
    vertical-align:top
}

.poll-title {
    display: inline-block;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 18pt;
}

.poll-title p {
    font-size:10pt;
}

/*.poll-title a {
    font-size: 12pt;
}*/

.font12 {
    font-size: 12pt;
}

.multiplechoice, .multiplechoice button, .multiplechoice p {
    display: inline-block;
    min-width: 50px;
    margin: 10px 10px;
    font-size: 14pt;
}

.bar {
    background-color: #0000ff;
    color: white;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14pt;
    height: 25px;
}

.zerobar {
    color: black;
    text-align: left;
    border-radius: 5px;
    font-weight: bold;
    font-size: 14pt;
    height: 25px;
}
dt {
    display: inline-block;
    margin-left: 10px;
    font-size: 16pt;
}

dd {
    display: inline-block;
    width: 100%;
    margin-left: 30px;
    padding: 10px 0px;
}

.live-poll {
    font-size: 14pt;
}

.live-text {
    display: inline-block;
    width: 80%;
}

#pdflatex {
    float: right;
    clear: right;
}

.arrow, .arrow:hover, .arrow:visited,  .arrow:focus {
    vertical-align: middle;
    text-decoration: none;
    cursor: pointer;
    font-size: 14pt;
    color: #3366ff;
    width: 20px;
}

#endall_-1 {
    position: relative;
    float: left;
    margin-left: 100px;
}

.pollquestion-button {
    position: absolute;
}

#poll-select {
    width: 20%;
    margin-bottom: 10pt;
    font-weight: bold;
}

.navbar-nav>li>a, .navbar-nav>li>a.active {
    margin-top: 5px;
    line-height: 10px;
    color: #e6f0ff;
}

.navbar-right {
    margin-top: 5px;
}

.navbar-default {
    background-color: #e6e6e6;
}

.quiz-divs {
    margin: 20px 0 40px 20px;
    font-family: 'Source Sans Pro';
}

.quiz-link {
    font-size: 13pt;
}

label.diff {
    display: inline-block;
    width: 200px;
    text-align: left;
}

#quiz_start {
    position: absolute;
    left: 10%;
}

#quiz_start h1 {
    font-size: 40pt;
    font-family: Geneva, Times, Georgia, serif; 
    margin-bottom: 50px;
}

#quiz_start span {
    font-size: 20pt
}

#quiz_start ul {
    font-size: 15pt;
    padding-left: 20%;
}

#quiz_start a {
    margin-left: 50%;
    font-size: 20pt;
}

#quiz_start ul li {
    padding: 10px 0 10px 0;
}

.quiz_end {
    margin: 30px 0 30px 30px;
}

#form_preview, #solution_preview {
    padding: 5px;
    border: dashed black 1px;
}

#message {
    top: 10%;
    left: 80%;
    position: fixed;
}

#dialog {
    position: relative;
    width: 200px;
    height:300px;
}

#ajax_results {
    margin-bottom: 200px;
}

#marks_wrapper {
    overflow-x: scroll;
}

table.diff td {
    padding: 5px;
}

.unavailable {
    opacity: 0.5;
}

tr[data-active="False"] {
    background-color: red !important;
}

.ps-columns {
    -webkit-column-width: 300px
    overflow-y: scroll;
    -moz-column-count: 2;
    -webkit-column-count:2;
    column-count: 2;*
}


@media (max-width: 1200px) {
   .navbar-header {
       float: none;
   }
   .navbar-left,.navbar-right {
       float: none !important;
   }
   .navbar-toggle {
       display: block;
   }
   .navbar-collapse {
       border-top: 1px solid transparent;
       box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
   }
   .navbar-fixed-top {
       top: 0;
       border-width: 0 0 1px;
   }
   .navbar-collapse.collapse {
       display: none!important;
   }
   .navbar-nav {
       float: none!important;
       margin-top: 7.5px;
   }
   .navbar-nav>li {
       float: none;
   }
   .navbar-nav>li>a {
       padding-top: 10px;
       padding-bottom: 10px;
   }
   .collapse.in{
       display:block !important;
   }     
}
